# Ignorar arquivos de configuração do VS Code (se você usa VS Code)
.vscode/

# Ignorar arquivos de dependências de Node.js (se você começar a usar npm/yarn)
node_modules/

# Ignorar arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos temporários e de sistema operacional
.DS_Store
Thumbs.db 